<footer class="pt-12 pb-4 bg-black">
  <div class="container mx-auto  pt-12 pb-5  border-gray-400 border-t">
    <div class="grid grid-cols-4 gap-12">
      <div class="footer-logo">
        <a href="{{ shop.url }}">
          <img
            src="{{ 'images/footer-logo.svg' | asset_url }}"
            width="300px"
            height="260px"
            alt="Logo"
          >
        </a>
      </div>

      <div class="footer-link">
        <ul>
          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">Whatsapp</h3>
            <a href="#" class="font-medium text-xs text-gray-100">+31 (0)6 27 17 14 39</a>
          </li>

          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">email</h3>
            <a href="#" class="font-medium text-gray-100 text-xs uppercase">info@lemiriandco.com</a>
          </li>

          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">address</h3>
            <a href="#" class="font-medium text-gray-100 text-xs uppercase"
              >2501 S Delaware Ave, Milwaukee, WI 53207-1907</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-link">
        <ul>
          <li class="mb-4">
            <button
              id="dropdownHoverButton"
              data-dropdown-toggle="dropdownHover"
              data-dropdown-trigger="hover"
              class="font-medium text-xs uppercase text-warning-900 inline-flex items-center"
              type="button"
            >
              Watches
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdownHover"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Settings</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Earnings</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-4">
            <button
              id="dropdownHoverButton"
              data-dropdown-toggle="dropdownHover"
              data-dropdown-trigger="hover"
              class="font-medium text-xs uppercase  inline-flex items-center text-warning-900"
              type="button"
            >
              Watches
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdownHover"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Settings</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Earnings</a
                  >
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-4">
            <a href="#" class="font-medium text-xs uppercase text-warning-900">Jewelry</a>
          </li>
          <li class="mb-4">
            <a href="#" class="font-medium text-xs uppercase text-warning-900">About</a>
          </li>
        </ul>
      </div>

      <div class="footer-link">
        <ul>
          <li class="mb-4">
            <a href="#" class="font-medium text-xs uppercase text-warning-900">Instagram</a>
          </li>
          <li class="mb-4">
            <a href="#" class="font-medium text-xs uppercase text-warning-900">Youtube</a>
          </li>
          <li class="mb-4">
            <a href="#" class="font-medium text-xs uppercase text-warning-900">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="container mx-auto">
      <div class="flex justify-between justify-items-center">
        <p class="font-medium text-xs text-gray-100 uppercase leading-6">© Lemiri & co, 2024 — VAT NL812809610B01</p>

        <ul id="flowbiteMenu" class="flex-col hidden pt-6 lg:flex-row lg:self-center lg:py-0 lg:flex">
          <li class="mb-3 lg:px-2 xl:px-2 lg:mb-0">
            <a href="/docs/getting-started/quickstart/" class="font-medium text-xs uppercase text-warning-900"
              >Quickstart</a
            >
          </li>

          <li class="mb-3 lg:px-2 xl:px-2 lg:mb-0">
            <a href="/blocks/" class="font-medium text-xs uppercase text-warning-900">Blocks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
