<footer class="pb-5 pt-40 bg-black">
  <div class="container mx-auto  pt-10 pb-5  border-gray-400 border-t">
    <div class="grid grid-cols-4 gap-12">
      <div class="footer-logo">
        <a href="{{ shop.url }}">
          <img
            src="{{ 'images/footer-logo.svg' | asset_url }}"
            width="183px"
            height="130px"
            alt="Logo"
          >
        </a>
      </div>

      <div class="footer-link">
        <ul>
          <li class="mb-4">
            <h6 class="font-medium text-xs uppercase text-warning-900">Whatsapp</h6>
            <a href="tel:+1234567890" class="font-medium text-xs text-gray-100">
             +123 456 7890
            </a>
           
          </li>

          <li class="mb-4">
            <h6 class="font-medium text-xs uppercase text-warning-900">email</h6>
            <a href="mailto:your-email@example.com" class="font-medium text-gray-100 text-xs uppercase">info@lemiriandco.com</a>
          </li>

          <li class="mb-4">
            <h6 class="font-medium text-xs uppercase text-warning-900">address</h6>
            <a href="#" class="font-medium text-gray-100 text-xs uppercase"
              >2501 S Delaware Ave, Milwaukee, WI 53207-1907</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-link">
        
        {% if linklists.footer %}
          <ul>
            {% for link in linklists.footer.links %}
              <li class="mb-4">
                <a href="{{ link.url }}" class="font-medium text-xs uppercase text-warning-900">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="footer-link">

        <ul class="social-links">
          <li class="mb-4">
            <a href="https://www.instagram.com/your_username" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer">
              Instagram
            </a>
          </li>
          <li class="mb-4">
            <a href="https://www.youtube.com/c/YourChannelName" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer">
              Youtube
            </a>
          </li>
          <li class="mb-4">
            <a href="https://www.facebook.com/your_page_name" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer" >
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="container mx-auto">
      <div class="flex justify-center justify-items-center">
        <p class="font-medium text-xs text-gray-100 uppercase leading-6">© Lemiri & co, 2025 — VAT NL812809610B01</p>
      </div>
    </div>
  </div>
</footer>
