@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MADE Mirage';
  src: url('MADEMirage-Bold.eot');
  src: local('MADE Mirage Bold'), local('MADEMirage-Bold'),
      url('../fonts/MADEMirage-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEMirage-Bold.woff2') format('woff2'),
      url('../fonts/MADEMirage-Bold.woff') format('woff'),
      url('../fonts/MADEMirage-Bold.ttf') format('truetype'),
      url('../fonts/MADEMirage-Bold.svg#MADEMirage-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MADE Mirage';
  src: url('MADEMirage-Medium.eot');
  src: local('MADE Mirage Medium'), local('MADEMirage-Medium'),
      url('../fonts/MADEMirage-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEMirage-Medium.woff2') format('woff2'),
      url('../fonts/MADEMirage-Medium.woff') format('woff'),
      url('../fonts/MADEMirage-Medium.ttf') format('truetype'),
      url('../fonts/MADEMirage-Medium.svg#MADEMirage-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Mirage';
  src: url('MADEMirage.eot');
  src: local('MADE Mirage'), local('MADEMirage'),
      url('../fonts/MADEMirage.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MADEMirage.woff2') format('woff2'),
      url('../fonts/MADEMirage.woff') format('woff'),
      url('../fonts/MADEMirage.ttf') format('truetype'),
      url('../fonts/MADEMirage.svg#MADEMirage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene A';
  src: url('./assets/fonts/StyreneA-Black.eot');
  src: url('StyreneA-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/StyreneA-Black.woff2') format('woff2'),
      url('./assets/fonts/StyreneA-Black.woff') format('woff'),
      url('./assets/fonts/StyreneA-Black.ttf') format('truetype'),
      url('./assets/fonts/StyreneA-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* For h1 */
h1 {
 
  font-family: 'MADE Mirage', sans-serif;
}

/* For h2 */
h2 {
  font-family: 'MADE Mirage', sans-serif;
}

/* For h3 */
h3 {
  font-family: 'MADE Mirage', sans-serif;
}

/* For h4 */
h4 {
  font-family: 'MADE Mirage', sans-serif;
}

/* For h5 */
h5 {
  font-family: 'MADE Mirage', sans-serif;
}

/* For h6 */
/* h6 {
  font-family: 'MADE Mirage', sans-serif;
} */
p {
  /* font-family: "Styrene A Regular Trial"; */
}

.container {
  max-width: 90%;
  width: 1345px;
  margin: auto;
}

.blogs-list .blog-article-title{
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    display: flex;
    min-height: 44px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    height: 65px;
    line-height: 30px;
}.product-details-card-slider .product-slider-title{
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    display: flex;
    min-height: 44px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    height: 53px;
}

.product-details-card-slider .swiper {
  position: initial;
}

.product-details-card-slider .swiper .swiper-button-prev {
  height: 40px;
  width: 40px;
}

.product-details-card-slider .swiper-button-next::after {
  font-size: 0px !important;
  background-image: url('../../assets/images/right-arrow-wihte.svg');
  height: 30px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-details-card-slider .swiper-button-prev::after {
  font-size: 0px !important;
 
  background-image: url('../../assets/images/left-arrow-white.svg');
  height: 30px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-details-card-slider .swiper .swiper-button-next {
  height: 30px;
  width: 24px;
}

.product-details-card-slider .swiper-button-prev,
.product-details-card-slider .swiper-rtl .swiper-button-next {
  left: 0px !important;
  right: inherit;
}

.product-details-card-slider .swiper-button-prev,
.product-details-card-slider .swiper-button-next {
  top: 145px;
  right: inherit;
  left: 55px;
}

.product-details-card-slider .swiper-container {
  width: 100%;
  height: 400px;
}
.hiddenp-display{
  display: none;
}
.hidden{
  display: block;
}
.product-details-card-slider .swiper-container:before{
  content: "";
    padding: 0 !important;
    background-color: #000;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 100%);
    mask-image: linear-gradient(to left, transparent 0%, black 100%);
    position: absolute;
    width: 250px;
    height: 400px;
    left: 0;
    z-index: 11;
    bottom: 0;
    pointer-events: none;
}

.product-details-card-slider .swiper-container:after{
  content: "";
    padding: 0 !important;
    background-color: #000;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
    position: absolute;
    width: 250px;
    height: 400px;
    right: 0;
    z-index: 11;
    bottom: 0;
    pointer-events: none;
}

/* .dropdown-share-icon .hidden{
  display: block;
} */

/* Adjust positioning or add a background placeholder */
select.hide-arrow {
  background-image: none;
}


/* Hides the default dropdown arrow */
select.hide-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent; /* Keeps background black as per your design */
  position: relative;
  padding-right: 30px; /* Add space for custom arrow if needed */
  /* background-image: url('../../images/arrow-down-select.svg'); */
  background-repeat: no-repeat;

}

/* Optional: Add a custom arrow icon or remove completely */
select.hide-arrow::after {
  content: '';
  display: none; /* Prevents any custom arrows */
}




.slider {
  padding: 32px;
  color: #fff;
  position: relative;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
  opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.slider__images {
  height: 400px;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}





