@tailwind base;
@tailwind components;
@tailwind utilities;

.blogs-list .blog-article-title{
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    display: flex;
    min-height: 44px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    height: 65px;
    line-height: 30px;
    
    
}