<h1>{{ collection.title }}</h1>
<ul>
  {% for product in collection.products %}
    <li>
      <a href="{{ product.url }}">{{ product.title }}</a>
      <p>{{ product.price | money }}</p>
    </li>
  {% endfor %}
</ul>