<!-- <section class="py-24">
  <div class="container">
    <div class="w-[1234px] mx-auto">
      <h3 class="text-lg font-bold mb-20">Help</h3>

      <div class="grid grid-cols-8 gap-3">
        <div class="col-span-3">
          <ul class="space-y-10">
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Shipping</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Exchanges/Returns</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >View Order</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Repair Service Guide</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Product Usage Guide</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >Certificate of Authenticity</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-black font-base font-normal hover:underline"
                >FAQ</a
              >
            </li>
          </ul>
        </div>

        <div class="col-span-5 space-y-20">
          <div class="space-y-10">
            <h5 class="text-base font-bold">General Inquiry</h5>
            <p>
              You can reach us through live chat by clicking the button located
              further down this page to initiate the conversation.
            </p>
            <p>
              Online Customer Service Hours of Operation - Whatsapp<br />
              Monday - Sunday: 10am - 8pm
            </p>

            <p>
              <a href="tel:+0192929292" class="text-black">+01 9292 9292</a>
            </p>
          </div>

          <div class="space-y-10">
            <h5 class="text-base font-bold">Phone</h5>
            <p>
              For product information and online purchase call us at +01 2929 9292, our customer advisor will be happy to assist you. if you wish to contach the Offline store, please go to the ‘Stores’ section. (Your call may be recorded for quality and monitoring purposes)
            </p>
          </div>

          <div class="space-y-10">
            <h5 class="text-base font-bold">Email</h5>
            <p>
              You can reach us through live chat by clicking the button located further down this page to initiate the conversation.
            </p>
          </div>

          <button type="button" class="text-white bg-black py-4.5 px-12 min-w-[380px]">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>
</section> -->
