<h1>Welcome to {{ shop.name }}</h1>
<p>Explore our curated collection of high-quality products.</p>
<h1>Welcome to {{ shop.name }}</h1>

<div>
  <a href="/collections/all">Shop Now</a>
  {% for product in collections.frontpage.products %}
    <a href="{{ product.url }}">{{ product.title }}</a>
  {% endfor %}
</div>